$bcgBody: linear-gradient(to bottom, #f9ea8f 0%, #aff1da 74%);
$colorBlanco: #fff;
$colorNegro: #000;
$font: 24px 'roboto';
$bcgContend: #e3b629;
$bcgHeader:#f0c7ba;
$bcgNav: #f37121;
$textCenter: center;
$bcgMain:#8f3f1f;
$colorBorder: #e36229;
$colorBox: #ec731e;
$textIzq: left;
$style: italic;
$negrita: bold;
$font:'crimson text';
$col: 50%;
$distance: 10px;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

$rhino: #323b40;
$teal: #0096a1;
$tealMid: #0ebac7;
$offWhite: #e9eaea;



* {
  box-sizing:border-box;
}




@mixin transformar($propiedad) {
	-webkit-transform: $propiedad;
	-ms-transform: $propiedad;
	transform: $propiedad;
}

@mixin transition($propiedad) {
	transition: ($propiedad);
		-webkit-transition: ($propiedad);
		-o-transition:($propiedad);
}

@mixin box($propiedad) {
	box-sizing: ($propiedad);
		-webkit-box-sizing: ($propiedad);
		-moz-box-sizing:($propiedad);
}

* {margin: 0px;padding: 0px;}
html {
	@include box(border-box);
  }
  *, *:before, *:after {
	  @include box(inherit);
}

body{
    background-color: #f9ea8f;
    background-image: $bcgBody;
	background-color: #edf4f2;
	font-family: $font;

.img__Animation:hover {
	animation-duration: 3s;
	animation-name: img__Animation;
}
}

.grilla {
	display: grid;
	grid-template-areas: 
	"cabecera cabecera"
	"cuerpo cuerpo"
	"footer footer";
	grid-template-rows: 180px 1fr 0.1fr;
	grid-template-columns: $col $col;
	grid-row-gap: $distance;
}

header {
	grid-area: cabecera;
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 1030;
	overflow: hidden;
	background-color: $bcgHeader;
	margin-bottom:$distance;
	margin-left: -15px;
}

#color li a {
	font-weight: $negrita;
	text-decoration: none;
	font-size: 15px;
	background-color: $bcgHeader;
	color: $colorNegro;
	padding: $distance;

&:hover {
	color: $colorBlanco;
	background-color: $bcgNav;
	margin: auto;
	border-radius: $distance*5;
}
}


.nav-tabs>li.active>a {
	border: 3px solid #ddd;
}

.encabezado {
	display:flex;
	flex-wrap: nowrap;
	padding-left: $distance;
	padding-right: $distance;
	justify-content: space-around;
	overflow: hidden;
	margin: auto;
}

.flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: $textCenter;
}

.logo {
	width: 20%;
}

#logo_nombre {
	color: #a75c0f;
	text-decoration: none;
	font-size: 5em;
	font-style: normal;
	font-weight: bold;
	a {
		text-decoration: none;
	}
}

.logo_img {
	width: 100%;	
}

%styleTitle {
	text-align: $textCenter;
	font-style:$style;
	text-decoration:none;
	font-weight:$negrita;
}



@media screen and (max-width: 480px){
	body {
		font-size: 80%;
	}
}

@mixin encabezados($tamano) {
	h1 {
	  font-size: $tamano;
	}
	h2 {
	  font-size: $tamano - 0.2;
	}
	h3 {
	  font-size: $tamano - 0.5;
	}
  }

@include encabezados(2em);  
@media(min-width:800px){
	@include encabezados(2.5em);
}
@media(min-width:1200px){
	@include encabezados(3em)
}



@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	#rt-main {width: 100%;}
	#carouselExampleIndicators, #carouselExampleSlidesOnly, #carouselExampleSlidesOnly1 {height: 70vh;}
 	body{min-width: 100%;}


}

@media only screen and (max-width: 668px), only screen and (max-device-width: 668px) {
	#carouselExampleIndicators, #carouselExampleSlidesOnly, #carouselExampleSlidesOnly1 {height: 55vh;}
}

@media only screen and (max-width: 560px), only screen and (max-device-width: 560px) {
	#carouselExampleIndicators, #carouselExampleSlidesOnly, #carouselExampleSlidesOnly1 {height: 50vh;}
}

@media (min-width: 768px) {	
	.encabezado {
		font-size: 13px;
	}
}

@media (min-width: 1200px){
.container {
    max-width: $distance*114;
	}
}
@media (min-width: 992px){
.container {
    max-width: $distance*96;
	}
}
@media (min-width: 768px){
.container {
    max-width: $distance*72;
	}
}
@media (min-width: 576px){
.container {
    max-width: $distance*54;
	}
}

.marketing .col-lg-3 {
    margin-bottom: 1.5rem;
    text-align: $textCenter;
}
@media (min-width: 992px){
.col-lg-3 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 24.333333%;
    max-width: 33.333333%;
}
}

.col-3, .col-lg-3 {
    position: initial;
    min-height: 1px;
    padding-right: $distance/2;
    padding-left: $distance/2;
}

.rounded-circle {
    border-radius: 50%;
	margin-bottom: $distance/2;
img {
		vertical-align: middle;
		border-style: none;
	}
}


nav a {
	color: $colorBlanco;
	text-decoration:none;
	line-height:normal;
	font-size: 23px;
	padding: $distance+5;
	font-weight: $negrita;
	@include transition(all 500ms ease);
}




main {
	grid-area: cuerpo;
	width: 90%;
	max-width: $distance*95;
	margin: auto;
	box-shadow: 0 0 $distance $colorNegro;
	background: $bcgMain;
	color: $colorNegro;
}

.distorcion {
	object-fit: contain;
}

h1, h3 {
	color: $colorNegro;
}

h1 {
	text-transform: uppercase;
	@extend %styleTitle;
	margin-top: $distance/2;
	background: $bcgContend;
	border: 3px outset $colorBorder;
	animation-duration: 2s;
   	animation-name: aparecer;
}

h2 {
	color: $colorBlanco;
	@extend %styleTitle;
	text-transform: uppercase;
	border: 3px outset $colorBorder;
}

h3 {
	@extend %styleTitle;
	margin-top: $distance*2;
	margin:auto;
  	background: $bcgContend;
	border: 3px outset $colorBorder;
}

.cuerpo {
	margin-left: auto;
	margin-right: auto;
	
}



#alojamiento {
	width: 95%;
	margin: auto;
	display: grid;
	grid-template-areas: 
	"tituloAlojamiento "
	"imgAlojamiento" ;
	grid-template-rows: 0.3fr 1fr; 
}

#img__Alojamiento {
	grid-area: imgAlojamiento;
	margin: auto;
	width: 100%;
}

#titulo__Alojamiento {
	grid-area: tituloAlojamiento;
	margin: auto;
	width: 90%;
}

.titulo__Parrafo {
	display: grid;
	grid-template-areas: 
	"tituloPrincipal imgSola"
	"tituloSecundario imgSola"
	"parrafoPrincipal imgSola" ;
	grid-template-rows: 0.5fr 0.6fr 1fr; 
	grid-template-columns: $col $col;
	grid-column-gap: $distance;
}


.titulo__Principal h1 {
	grid-area: tituloPrincipal;	
}



@keyframes aparecer {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}


.img__Sola {
	grid-area: imgSola;
	border-color: $colorBorder; 
	box-shadow: 3px 3px 3px $colorBorder;
	width: 90%;
	margin: auto;
	margin-top: $distance+5;

	&:hover{
		border-radius:50%;
		-webkit-border-radius:50%;
		box-shadow: 0px 0px $distance+5 $distance+5 $colorBox;
		-webkit-box-shadow: 0px 0px $distance+5 $distance+5 $colorBox;
		@include transformar(rotate(360deg));
		@include transition(all .8s ease-in-out);
	}
	
}


.titulo__Secundario h2 {
	grid-area: tituloSecundario;
	padding-bottom: $distance/2;
}

.parrafo__Principal p {
	grid-area: parrafoPrincipal;
	padding: 0px;
	margin: auto;
}

@-webkit-keyframes img__Animation {
  0% {
	@include transformar(scale(1) rotate3d(1, 1, 0, 0deg));
  }
  50% {
	@include transformar (scale(2) rotate3d(1, 1, 0, -180deg));
}
  100% {
	@include transformar (scale(1) rotate3d(1, 1, 0, -360deg));
  
  }
}
@keyframes img__Animation {
  0% {
	@include transformar (scale(1) rotate3d(1, 1, 0, 0deg));
}
  50% {
	@include transformar (scale(2) rotate3d(1, 1, 0, -360deg));
}
  100% {
	@include transformar (scale(1) rotate3d(1, 1, 0, -360deg));
}
}

.grilla__QSomos {
	display: grid;
	grid-template-areas: 
	"historia historia"
	"queOfrecemos queOfrecemos"
	"valores valores"
	"staff staff "
	"capacitaciones capacitaciones "
	"equipo equipo ";
	grid-template-rows: repeat(6, 1fr); 
	grid-template-columns: $col $col;
	grid-column-gap: $distance;
}

#historia {
	grid-area: historia;
}

#que__Ofrecemos {
	grid-area: queOfrecemos;
}

#valores {
	grid-area: valores;
}

#staff {
	grid-area: staff;
}

#capacitaciones {
	grid-area: capacitaciones;
}

#equipo {
	grid-area: equipo;
}

.img__Con__Parrafo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
 img {
	margin: $distance;
}
}

#flex__Mapa {
	display: flex;
	flex-flow: row wrap;
	justify-content: $textCenter;	

}

.img__Mapa {
	border-color: $colorBorder; 
	box-shadow: 3px 3px 3px $colorBorder;
	width: 93%;
	margin-left: 3%;
	margin-right: 3%;
}


form {
	background: $bcgContend;
	border: 3px outset $colorBorder;
    box-shadow: 6px 6px 6px;
}

.container {
  width: 98%;
  max-width: $distance*120;
  margin: 0 auto;
 * {
  box-sizing: border-box;
}
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;

> li:not(:last-child) {
	margin-bottom: $distance*2;
}
li label,
.flex-outer li p {
  padding: $distance/1.24;
  font-weight: 300;
}

> li > label,
li p {
  flex: 1 0 $distance*12;
  max-width: $distance*22;
  color: $colorNegro;
}

li p {
	margin: 5px;
	color: $colorNegro;
}
  
li input:not([type='radio']),
li textarea {
	padding: $distance/1.24;
	border: none;
	max-width: 220px;
	margin-right: 5%;
}
  
  
li #boton input {
	padding: $distance;
	border: none;
	background-color: $bcgMain;
}
}

.flex-outer li,
.flex-inner {
  display: flex;
  align-items: $textCenter;
}

.flex-inner {
  padding: 0 $distance/1.24;
  justify-content: space-between;  

li {
	width: $distance*10;
}
}


.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 $distance*22;
  max-width: 220px;
  margin-right: 5%;
}


input,
textarea {
   transition: all 2s;       
}

input:focus,
textarea:focus {
   width: $distance*20;
   font-size: 22px;
}


#boton {
	margin-left: auto;
  	padding: $distance/1.24 $distance+6;
  	border: none;
	background: $bcgMain;
  	color: $colorBlanco;
  	border-radius:$distance;
}

#titulo__Form2,
#titulo__Form1 {
	text-align: $textIzq;
	padding: $distance/1.24;
	margin-bottom: $distance*2;
	text-transform: none;
}
#parrafo__Form1 {
	display: contents;
}

.btn {
	background-color: peachpuff;
	padding-left: 10px;
	padding-right: 10px;
	color: $colorNegro;
	text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.card-body {
	color: whitesmoke;
}

.dentro {
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $bcgMain;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}



div{

 p {
	text-align: $textIzq;
	font-style:normal;
	text-decoration:none;
  	color:$colorBlanco;
  	font-size: 18px;
  	line-height: 1.5;
	margin: $distance/2;
	em {
		background: $bcgMain;
		color: $colorNegro;
		text-align: $textCenter;
		  font-size: 18px;
		line-height: 1.5;
		margin: auto;
	}
	  
}
}


.fondo__Distinto {
	background-color:#bdb76b;
	font-size: 19px;
	font-weight: $negrita;
	font-style: $style;
	text-align: $textCenter;
	color: $colorNegro;
}

li {
	list-style: none;
}

.vinetas__Medida {
	font-size: 20px;
	margin-right: $distance/2;
}

.margenes .margenes2 {
	background: $bcgMain;
	margin-left: $distance*3;
	margin-bottom: $distance;
}

.margenes {
	text-align: $textIzq;
}

.margenes2 {
	text-align: $textCenter;
	margin-top: 0px;
}


.titulo__Con__Img {
	text-align: $textCenter;
	font-size: 25px;
}

.parrafo__Con__Img {
	text-align: $textCenter;
	font-size: $distance*2;
}

.velocidad {
transition: transform 3.3s ease-in-out,-webkit-transform .3s ease-in-out;
}


#grilla__Requerimientos {
	margin: auto;
	display: grid;
	grid-template-areas: 
	"perros gatos"
	"perros gatos" ;
	grid-template-rows: 1fr 1fr; 
	grid-column-gap: $distance*2;
	
}

#perros {
	grid-area: perros;
	margin-left: $distance;
}

#gatos {
	grid-area: gatos;
}


.table__Container {
	width: 99%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
	background: $bcgMain;
	border: 3px outset $colorBorder;
    box-shadow: 6px 6px 6px ;

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: $distance+4;
	height: $distance+4;
}

::-webkit-scrollbar-thumb {
	border-radius: $distance/5;
	border: 3px solid $colorBlanco;
	background-color: rgba(0, 0, 0, .3);
}
}

.img__Tabla {
	border: 3px outset $colorBorder;
	display: block;
	margin: $distance auto;
	box-shadow: 6px 6px 6px;
}

a .link__Derecha {
	display:inline-block;
	width: 95%;
	text-align: right;
	color:$colorBlanco;
	text-decoration:none;
	line-height:normal;
	font-size: 20px;
	font-weight: $negrita;
}




table { 
	div {
		text-align: $style;

		nav a {
			text-decoration:none;
			display:inline-block;
			color:$colorBlanco;
			padding: $distance $distance*2;
			line-height:normal;
			font-size: 20px;
			font-weight: $negrita;
			-webkit-transition:all 500ms ease;
			-o-transition:all 500ms ease;
			transition:all 500ms ease;
		
		
			&:hover {
				margin: auto;
				background-color: $bcgNav;
				border-radius:50px;

			}
		}
	}
	
	h4 {
		text-align: $textCenter;
		margin-top: $distance/2;
		margin:auto;
		font-style:$style;
		text-decoration:none;
		text-transform: uppercase;
		font-weight:$negrita;
		font-size:21px;
		color:$colorBlanco;
		background-color: $bcgContend;
		border: 3px outset $colorBorder;
	}
}

#menu2 {
	margin: auto;
	width: 95%;
	display: grid;
	grid-template-areas: 
	"tituloMenu2 tituloMenu2"
	"imgMenu2 imgMenu2";
	grid-template-rows: 0.2fr 1fr;
	grid-template-columns:$col $col;
	grid-row-gap: $distance;
}

#img__Menu2 {
	grid-area: imgMenu2;
	border-color: $colorBorder; 
	box-shadow: 1px 1px 1px $colorBox;
	margin-top: 0px;
	width: 95%;
}

#titulo__Menu2 {
	grid-area: tituloMenu2;
	text-align: $textCenter;
    width: 100%;
    margin-top: $distance/2;
    
}

nav a {
	text-align: $textCenter;
	padding: 0px;
			
	&:hover {
		margin: auto;
		background-color: $bcgNav;
		border-radius:$distance*5;
	}
}



.tabla__Parrafo {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-size: 18px;
	color: $colorBlanco;
	line-height: 1.5;
	text-align: justify;

}


footer {
	bottom: 0;
	left: 0;
	
	right: 0;
	div.social-media-links {
		  background: $colorNegro;
		  overflow: hidden;
		  padding-bottom: 4px;
		  text-align: center;
		  ul {
			  margin: 0;
			  padding: 0;
		  }
		  li {
			  display: inline;
			  margin: 0;
			  padding: 0;
			  margin-right: 5px;
			  margin-left: 5px;
		  }
		  a {
			  border-bottom: 0px solid rgba(0,0,0,0.95);
			  border-radius: 4px;
			  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
			  display: inline-block;
			  height: 30px;
			  padding: 20px;
			  position: relative;
			  transition: .2s ease-in;
		width: 30px;
			  svg {
		  left: 20px;
		  position: absolute;
		  top: 20px;
				  height: 30px;
				  width: 30px;
		  &.glow {
			path, circle {
			  fill: rgba(0,0,0,0);
			}
		  }
				  path, circle {
					  fill: $teal;
					  transition: .2s ease-in;
				  }
			  }
		  }
  a:hover {
			  transform: translateY(-4px);
			  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout($tealMid, 75), 0 83px 4px 0px fadeout($tealMid, 5);
		  }
	  svg {
		  &.glow {
			filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
			filter: blur(2px);
			path, circle {
			  fill: fadeout($tealMid, 40);
			}
		  }
				  path, circle {
					  fill: $tealMid;
				  }
			  }
		  }
	  }
  
  

footer {
	grid-area: footer;
	background: $colorNegro;
	margin-top: $distance;
	text-align: justify;
	margin-left: -15px;
	margin-right: -15px;

	
	ul, 
	li {
		list-style:none;
		margin: $distance/10 $distance/2;
		
	}
	.nav > li {
		position: unset;
		float: $textIzq;
	}
	.nav li a {
		color:$colorBlanco;
		position: unset;
		text-decoration:none;
		font-size: 13px;
		line-height:normal;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;
	
		&:hover {
			background-color:$teal;
			border-radius: $distance*5;
		}
	}
}

#pie {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	 
}

em {
	background: $colorNegro;
	color: $colorBlanco;
	text-decoration:none;
	padding: $distance/5;
	font-size: 13px;
	display:block;
}
	
.nav li:hover > ul {
	display:block;
}
