<!DOCTYPE html> 
<html lang="es">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<title>DogMar - Galería del predio y guarderia</title>
	<meta name="description" content="DogMar Hospedaje y refugio para perros y gatos. Conoce nuestro predio y Guardería. Galeria de fotos. Mascotas Adoptadas">
	<meta name="keywords" content="DogMar servicio para mascotas, galeria predio, galeria hotel, galeria guarderia, mascotas al ser Adoptadas, hospedaje mascotas, hospedaje perros, hospedaje gatos, mascotas rescatadas, mascotas Adopción, adopciones Feliz, mascotas jugando, mascotas atendidas, foto del hotel para mascotas, mascotas cuidadas, refugio mascota, refugio perros, refugio gatos, adopción de perros, adopción, adopción de gatos, adopción responsable, adiestramiento Canino, adiestramiento perros, adiestramiento gatos, conduta animal, guarderia canina, hotel para perros, hotel para gatos, guarderia canina zona norte, transporte mascotas, cuidados en guarderia">
	
	<link rel="stylesheet" href="../css/main.css"
	<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
</head>
<body>
	
		<div class="container-fluid grilla">
			<header id="rt-header" class="row cabecera">
				
				<div class="flex">
					<a class="logo" href="../index.html">
						<img class="logo_img" src="../img/FullColor_1280x1024_300dpi-2-min.jpg" alt="logo" height="120px" width="200px" >
					</a>
					<a id="logo_nombre" href="../index.html">
						DogMar
					</a>
				</div>
					<div class="encabezado">
						<ul class="nav nav-tabs encabezado" id="color">
						  <li role="presentation" class="encabezado"><a href="../index.html"><b>Inicio</b></a></li>
						  <li role="presentation" class="encabezado"><a href="./quienesomos.html"><b>Quienes Somos</b></a></li>
						  <li role="presentation" class="encabezado"><a href="./servicios.html"><b>Servicios</b></a></li>
						  <li role="presentation" class="encabezado active"><a href="./galeria.html"><b>Galeria</b></a></li>
						  <li role="presentation" class="encabezado"><a href="./contacto.html"><b>Contacto</b></a></li>
						</ul>
					
					</div>
			</header>
			<main id="rt-main" class= "cuerpo">					
				<div>
					<h1><b>Galería</b></h1>
				</div>
					
					<div id="predio">
					<h2><b>Galería Predio</b></h2>
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
					    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					  </ol>
					  <div class="carousel-inner">
					    <div style="height: 75vh" class="carousel-item active velocidad">
					      <img src="../img/0003389544.jpg" alt="hombreConPerrosEnPileta" class="d-block w-100">
					      <div class="carousel-caption d-none d-md-block">
					        <h5 class="titulo__Con__Img">En DogMar</h5>
					        <p class="parrafo__Con__Img">Nos esforzamos para brindar un servicio de alta calidad y a la medida de sus necesidades.</p>
					      </div>
					    </div>
					    <div style="height: 75vh" class="carousel-item velocidad">
					      <img src="../img/2017-01-13da.jpg" alt="perrosSaltandoAlAgua" class="d-block w-100">
					    </div>
					    <div style="height: 75vh" class="carousel-item velocidad">
					      <img src="../img/Captura-de-pantalla-2019-05-07-a-las-11.50.12.png" alt="selfieGrupoDePerros" class="d-block w-100">
					    </div>
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
					</div>			
				
						
					<div id="hotel">
					<h2><b>Galería Hotel</b></h2>
					<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					  <div style="height: 85vh" class="carousel-inner">
					    <div class="carousel-item active velocidad">
					      <img src="../img/_mg_8407.jpg_140025018.jpg" alt="HombreLimpiandoPerro" class="d-block w-100">
					    </div>
					    <div style="height: 85vh" class="carousel-item velocidad">
					      <img src="../img/fichero_19428_20170317-min.jpg" alt="hombresRevisandoPerro" class="d-block w-100">
					    </div>
					    <div style="height: 85vh" class="carousel-item velocidad">
					      <img src="../img/LQHPDBDXXNGA7JIDMIDFTTLSRA-min.png" alt="mujerConPerrosJugando" class="d-block w-100">
					    </div>
					  </div>
					</div>
					</div>
					<div id="guarderia">
					<h2><b>Galería Guardería</b></h2>
					<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					  <div style="height: 85vh" class="carousel-inner">
					    <div class="carousel-item active velocidad">
					      <img src="../img/1_Yfhf5WPZGpVirOI7jP5ySw-min.png" alt="perroConPelotaCorriendo" class="d-block w-100">
					    </div>
					    <div style="height: 85vh" class="carousel-item velocidad">
					      <img src="../img/1_H44PAEXKidrHUOz0k4T0Eg-min.png" alt="perroMordiendoPelota" class="d-block w-100">
					    </div>
					    <div style="height: 85vh" class="carousel-item velocidad">
					      <img src="../img/gato y perro durmiendo juntos-min.jpg" alt="perroYGatoDurmiendo" class="d-block w-100">
					    </div>
					  </div>
					</div>
				</div>
				<div id="adopcionesFeliz">
					<h2><b>Mascotas al ser Adoptadas</b></h2>
					<iframe width="100%" height="315" src="https://www.youtube.com/embed/zOTEdvy2Yt4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<p>Las Mascotas mejoran mucho al ser adoptadas y al recibir mucho amor. En el video vemos el antes y el despues de ser adoptadas.</p>
				
				</div>
			
			</main>
		
			<footer class="footer">
				<div id="pie">
					<ul class="nav">
						<li><a href="../index.html"><b>Inicio</b></a>
							<ul>
								<li><a href="./servicios.html#alojamiento">Hospedaje</a></li>
								<li><a href="./servicios.html#refugio">Refugio</a></li>
								<li><a href="./servicios.html#adopta">Adopción Reponsable</a></li>
								<li><a href="./contacto.html#formulario">Calificanos</a></li>
								<li><a href="./servicios.html#adiestra">Adistramiento</a></li>
							</ul>
						</li>
						<li><a href="./quienesomos.html"><b>Quienes Somos</b></a>
							<ul>
								<li><a href="./quienesomos.html#historia">Historia</a></li>
								<li><a href="./quienesomos.html#queOfrecemos">Que Ofrecemos</a></li>
								<li><a href="./quienesomos.html#valores">Nuestros Valores</a></li>
								<li><a href="./quienesomos.html#staff">Staff</a></li>
								<li><a href="./quienesomos.html#capacitaciones">Estudios y Capacitaciones</a></li>
							</ul>
						</li>
						<li><a href="./views/servicios.html"><b>Servicios</b></a>
								<ul>
									<li><a href="./servicios.html#alojamiento">Hospedaje</a></li>
									<li><a href="./servicios.html#refugio">Refugio</a></li>
									<li><a href="./servicios.html#adopta">Adopción Responsable</a></li>
									<li><a href="./servicios.html#adiestra">Adiestramieto Canino</a></li>
									<li><a href="./servicios.html#requisitosSanitarios">Requisitos Sanitarios</a></li>
									<li><a href="./servicios.html#menu">Conocer antes de hospedar</a></li>
									<li><a href="./servicios.html#informacion">Información</a></li>
									<li><a href="./servicios.html#menu2">Preguntas Frecuentes</a></li>
									<li><a href="./contacto.html#formulario">Consultar Precio</a></li>
								</ul>
							</li>
							<li><a href="./galeria.html"><b>Galeria</b></a>
							<ul>
								<li><a href="#predio">Predio</a></li>
								<li><a href="#hotel">Hotel</a></li>
								<li><a href="#guarderia">Guardería</a></li>
								<li><a href="#adopcionesFeliz">Mascotas al ser Adoptadas</a></li>
							</ul>
							</li>
							<li><a href="./contacto.html"><b>Contacto</b></a>
								<ul>
									<li><a href="./contacto.html">Ubicación</a></li>
									<li><em><b>Celular: </b> 11 9999-9999</em></li>
									<li><em><b>Mail: </b>canderichiardi@gmail.com</em></li>
									<li><em><b>Dirección: </b>Dirección 9999</em></li>
						</ul>
					</ul>
				</div>	
				<div>
					<a href="https://www.instagram.com/dogmar4/">
						<img src="../img/pngtree-instagram-color-icon-png-image_3995406-min.jpg" alt="instagram" width="50px" height="50px">
					</a>
					</div>
			</footer>
		
	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>