<!DOCTYPE html> 
<html lang="es">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<title>DogMar - Conoce quienes somos</title>
	<meta name="description" content="DogMar Hospedaje y refugio para perros y gatos. Conocé quienes somos, nuestras capacitaciones.">
	<meta name="keywords" content="DogMar, conoce quienes somos, capacitaciones, Adiestradora,  servicio para mascotas,hospedaje mascotas,hospedaje perros,hospedaje gatos, refugio mascota, refugio perros, refugio gatos, adopción de perros, adopción, adopción de gatos, adopción responsable, adiestramiento Canino, adiestramiento perros, adiestramiento gatos, conduta animal, guarderia canina, hotel para perros, hotel para gatos, guarderia canina zona norte, transporte mascotas, cuidados en guarderia">
	
	<link rel="stylesheet" href="../css/main.css">
	<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container-fluid grilla">
		<header id="rt-header" class="row cabecera">
			<div class="flex">
				<a class="logo" href="../index.html">
					<img class="logo_img" src="../img/FullColor_1280x1024_300dpi-2-min.jpg" alt="logo" height="120px" width="200px" >
				</a>
				<a id="logo_nombre" href="../index.html">
					DogMar
				</a>
			</div>
				<div class="encabezado">
					<ul class="nav nav-tabs encabezado" id="color">
					  <li role="presentation" class="encabezado"><a href="../index.html"><b>Inicio</b></a></li>
					  <li role="presentation" class="encabezado active"><a href="./quienesomos.html"><b>Quienes Somos</b></a></li>
					  <li role="presentation" class="encabezado"><a href="./servicios.html"><b>Servicios</b></a></li>
					  <li role="presentation" class="encabezado"><a href="./galeria.html"><b>Galeria</b></a></li>
					  <li role="presentation" class="encabezado"><a href="./contacto.html"><b>Contacto</b></a></li>
					</ul>
						
				</div>
		</header>
		<main id="rt-main" class="row cuerpo">
			<div>
				<h1><b>Quienes Somos</b></h1>
				<div class="caja__QSomos">
					<div id="historia">
						<h2><strong>Nuestra Historia</strong></h2>
						<div class="img__Con__Parrafo">
							<img class="img__Animation" src="../img/img_6610_digit_serial_number-min.jpg" alt="perroBesandoMujer" border="2px" width="250px" height="200px">
				
							<p class="margenes"><em><b>DogMar nace en 2016 como algo natural en mi vida. Mi pasión por los perros me motivó a capacitarme en el grato arte de conocer, entender y querer a los animales. Hoy somos un equipo de personas que compartimos esa misma pasión y la volcamos todos los días en lo que hacemos.</b></em></p>
						</div>
					</div>
					<div id="que__Ofrecemos">
						<h2><b>¿Que Ofrecemos?</b></h2>
						<div class="img__Con__Parrafo">
							<img class="img__Animation" src="../img/_mg_8407.jpg_140025018.jpg" alt="HombreLimpiandoPerro" border="2px" width="250px" height="200px">
							<p class="margenes">En DogMar tenemos un solo objetivo: hacer las cosas bien. <br>Nos esforzamos para brindar un servicio de alta calidad y a la medida de sus necesidades.
							Queremos ser su aliado en la educación y el cuidado de su mascota, ofreciéndole una amplia gama de servicios a domicilio y en nuestro exclusivo campo en Pilar.</p>
						</div>
					</div>		
					<div id="valores">
						<h2><b>Nuestros Valores</b></h2>
						<div>
							<ul>
								<li class="margenes"><span class="vinetas__Medida">&#128062;</span>Creemos en la ética como elemento esencial de la vida, en todos sus ámbitos.</li>
								<li class="margenes"><span class="vinetas__Medida">&#128062;</span>Creemos en la dignidad y en el respeto a las personas.</li>
								<li class="margenes"><span class="vinetas__Medida">&#128062;</span>Creemos en el cuidado y amor a los animales.</li>
							</ul>
						</div>
					</div>
					<div id="staff">
						<h3><strong>Nuestro Staff</strong></h3>
						<div class="img__Con__Parrafo">
							<img class="img__Animation" src="../img/cande.jpg-min.jpg" alt="dueñaCandela" border="2px" width="200px" height="250px">
							<p class="margenes">Mi nombre es Candela, soy la actual Directora de DogMar y desde los 3 años que comparto mi vida con perros, entre otra gran cantidad de animales. Siempre fui una apasionada de la naturaleza y fanática de los perros. De muy chica tuve la oportunidad de tener como mascotas y amigos a más de 10 perros entre ellos Cockers, Caniches y varios mestizos. Fascinada por su mundo, comencé desde muy chica a comprender su lenguaje y a interpretar cada uno de sus movimientos volviéndome de cada perro que conocía una gran amiga. El vínculo y la conexión que me une a los perros fue siempre muy especial. Hace unos años, capacitándome en diversas instituciones tanto locales como extranjeras di formalidad a mi pasión y es así como nació DogMar.</p>
						</div>
					</div>
					<div id="capacitaciones">
						<h3><strong>Estudios y Capacitación</strong></h3>
						<p class="margenes">Actualmente recibida de Adiestradora Canina Profesional en la UBA,  continúo constantemente mi formación. Capacitándome sobre nuevas técnicas y herramientas en Europa y Estados Unidos.</p>
					</div>
					<div id="equipo">
						<h3>El Equipo</h3>
						<p class="margenes">La escuela está formada por un equipo interdisciplinario de profesionales con diversos títulos universitarios y de extensión, tanto a nivel nacional como internacional.
						<br>En este equipo por sobre todo compartimos la misma pasión, amor y respeto por los animales, haciendo del hermoso vínculo que nos une a ellos nuestra profesión, amando cada minuto de nuestro trabajo.</p>
					</div>
				</div>
					<hr>		
						</main>
	
			<footer class="footer">
				<div id="pie">
					<ul class="nav">
						<li><a href="../index.html"><b>Inicio</b></a>
							<ul>
								<li><a href="./servicios.html#alojamiento">Hospedaje</a></li>
								<li><a href="./servicios.html#refugio">Refugio</a></li>
								<li><a href="./servicios.html#adopta">Adopción Reponsable</a></li>
								<li><a href="./contacto.html#formulario">Calificanos</a></li>
								<li><a href="./servicios.html#adiestra">Adistramiento</a></li>
							</ul>
						</li>
						<li><a href="./quienesomos.html"><b>Quienes Somos</b></a>
							<ul>
								<li><a href="#historia">Historia</a></li>
								<li><a href="#queOfrecemos">Que Ofrecemos</a></li>
								<li><a href="#valores">Nuestros Valores</a></li>
								<li><a href="#staff">Staff</a></li>
								<li><a href="#capacitaciones">Estudios y Capacitaciones</a></li>
							</ul>
						</li>
						<li><a href="./views/servicios.html"><b>Servicios</b></a>
								<ul>
									<li><a href="./servicios.html#alojamiento">Hospedaje</a></li>
									<li><a href="./servicios.html#refugio">Refugio</a></li>
									<li><a href="./servicios.html#adopta">Adopción Responsable</a></li>
									<li><a href="./servicios.html#adiestra">Adiestramieto Canino</a></li>
									<li><a href="./servicios.html#requisitosSanitarios">Requisitos Sanitarios</a></li>
									<li><a href="./servicios.html#menu">Conocer antes de hospedar</a></li>
									<li><a href="./servicios.html#informacion">Información</a></li>
									<li><a href="./servicios.html#menu2">Preguntas Frecuentes</a></li>
									<li><a href="./contacto.html#formulario">Consultar Precio</a></li>
								</ul>
							</li>
							<li><a href="./galeria.html"><b>Galeria</b></a>
							<ul>
								<li><a href="./galeria.html#predio">Predio</a></li>
								<li><a href="./galeria.html#hotel">Hotel</a></li>
								<li><a href="./galeria.html#guarderia">Guardería</a></li>
								<li><a href="./galeria.html#adopcionesFeliz">Mascotas al ser Adoptadas</a></li>
							</ul>
							</li>
							<li><a href="./contacto.html"><b>Contacto</b></a>
								<ul>
									<li><a href="./contacto.html">Ubicación</a></li>
									<li><em><b>Celular: </b> 11 9999-9999</em></li>
									<li><em><b>Mail: </b>canderichiardi@gmail.com</em></li>
									<li><em><b>Dirección: </b>Dirección 9999</em></li>
						</ul>
					</ul>
				</li>
						</ul>
						
				</div>	
				<div>
					<a href="https://www.instagram.com/dogmar4/">
						<img src="../img/pngtree-instagram-color-icon-png-image_3995406-min.jpg" alt="instagram" width="50px" height="50px">
					</a>
					</div>
			</footer>
			
	
	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>

</html>
