<!DOCTYPE html> 
<html lang="es">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<title>DogMar - Servicios para Mascotas</title>
	<meta name="description" content="DogMar Hospedaje y refugio para perros y gatos. Conocé nuestro servicio de guarderia de calidad. Conoce los requisitos sanitarios y necesarios para poder hospedar a su mascota">
	<meta name="keywords" content="DogMar servicio para mascotas,hospedaje mascotas,hospedaje perros,hospedaje gatos, refugio mascota, refugio perros, refugio gatos, adopción de perros, adopción, adopción de gatos, adopción responsable, adiestramiento Canino, adiestramiento perros, adiestramiento gatos, conduta animal, guarderia canina, hotel para perros, hotel para gatos, guarderia canina zona norte, transporte mascotas, cuidados en guarderia">
	
	<link rel="stylesheet" href="../css/main.css">
	<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container-fluid grilla">
		<header id="rt-header" class="row cabecera">
			<div class="flex">
				<a class="logo" href="../index.html">
					<img class="logo_img" src="../img/FullColor_1280x1024_300dpi-2-min.jpg" alt="logo" height="120px" width="200px" >
				</a>
				<a id="logo_nombre" href="../index.html">
					DogMar
				</a>
			</div>	
				<div class="encabezado">
					<ul class="nav nav-tabs encabezado" id="color">
					  <li role="presentation" class="encabezado"><a href="../index.html"><b>Inicio</b></a></li>
					  <li role="presentation" class="encabezado"><a href="./quienesomos.html"><b>Quienes Somos</b></a></li>
					  <li role="presentation" class="encabezado active"><a href="./servicios.html"><b>Servicios</b></a></li>
					  <li role="presentation" class="encabezado"><a href="./galeria.html"><b>Galeria</b></a></li>
					  <li role="presentation" class="encabezado"><a href="./contacto.html"><b>Contacto</b></a></li>
					</ul>
				
				</div>
				
			</div>
		</header>
	
	<div id="rt-main" class="container-fluid">
		<main class="cuerpo">
			<h1>Servicios para Mascotas</h1>
				<div id="alojamiento">
					<h2 id="titulo__Alojamiento"><b>HOSPEDAJE DE CALIDAD</b></h2>
					  		
					<img id="img__Alojamiento" src="../img/0003389544.jpg" alt="hombreConPerrosEnPileta" border="2px" width="460px" height="250px">
				</div>
				<h3><b>¿Necesita hospedar a su perro o gato por un tiempo? <br>tenemos un servicio de hospedaje profesional, respaldado por personas que entienden y quieren a los animales.</b></h3>
				<table class="table table__Container" width="100%" border="2" cellpadding="10" cellspacing="10">
				  <thead>
				    <tr>
				      <th scope="col"><h4>COMO EN CASA</h4></th>
				      
				      <th scope="col"><h4>Salud</h4></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row"><p class="tabla__Parrafo">Hospedamos en espacios amplios. Durante el día los perros disfrutan de completa libertad en grupos homogéneos, mientras que los gatos estan en amplias gateras especialmente ambientadas con troncos y casas. Además, alimentamos a sus mascotas con la mejor marca Super Premium del mercado</p></th>
				    
				      
				      <td><p class="tabla__Parrafo">La salud de su mascota nos interesa. Ante cualquier urgencia, nos ocupamos de que reciba asistencia veterinaria y nos ponemos en contacto con usted. Como prevención, cumplimos con una estricta rutina para mantener la limpieza del lugar.</p></td>
				    </tr>
				    <tr>
				    	<th scope="row"><h4>Supervisión Permanente</h4></th>
				    	<td><h4>Traslados</h4></td>
				    </tr>
				    <tr>
				    	<th scope="row"><p class="tabla__Parrafo">Su mascota es cuidada y vigilada con la misma dedicación que usted le da. De ser necesario, su mascota recibirá atención veterinaria, y toda atención necesaria.</p></th>
				    	<td><p class="tabla__Parrafo">Retiramos y entregamos su mascota a domicilio con camionetas acondicionadas y personal capacitado.</p></td>
				    </tr>
				    <tr>
				      <th scope="row"><h4>Limpieza</h4></th>
				      
				      <td><h4>Servicios Veterianrios</h4></td>
				    </tr>
				    <tr>
				      <th scope="row"><p class="tabla__Parrafo">Cuidamos la limpieza en forma permanente. Todos los huéspedes son bañados regularmente y antes de volver a casa (opcional).</p></th>
				      <td><p class="tabla__Parrafo">Traslado especializado de mascotas a la veterinaria de ser necesario, tanto desde nuestro hospedaje como desde el domicilio del cliente</p></td>
				    </tr>
				  </tbody>
				</table>
						
				<div id="refugio">
					<h3><b>Refugio</b></h3>
					<p class="margenes">Somos una familia que recibe en su casa animales discapacitados y abandonados, los cuida, los ayuda a recuperarse, y les encuentra un nuevo hogar.
					<br>
					En DogMar ademas rescatamos animales en SITUACIÓN DE CALLE. A los cuales, les brindamos el cuidado que necesitan, les damos atención veterinaria, amor, realizamos sus tratamientos, operaciones. Como también, les buscamos un hogar que los adopten y amen como merecen.
					<br>
					Para ellos DogMar significa volver a nacer y esa es nuestra misión, darles a los animales especiales una nueva vida.
					 <br>
					 <br>	
					<b>DogMar</b></p>
				</div>
				<div id="adopta">
					<h2 class="titulo__Adopcion"><b>Adopción Responsable</b></h2>
					<img class="img__Animation img__Adopcion" src="../img/niños-con-perro-y-gato.jpg" alt="tresNiñosConPerroYGato" border="2px" width="450px" height="200px">
					<p class="parrafo__Adopcion margenes">La adopción es un noble acto en el cual le das la oportunidad a un animalito de poder contar con una familia que lo quiera y lo trate de la manera que merece, ya que además de ser seres especiales, son mascotas que terminarán siendo una parte muy esencial de tu vida.</p>
								
					<p class="parrafo__Dos__Adopcion margenes">Si bien el adoptar es algo que trae felicidad tanto para el animal como para el dueño, es una decisión que requiere muchísima responsabilidad, ya que al tratarse de un ser vivo, deberás brindarle no solamente todos los cuidados correspondientes, sino también convertirte en un ejemplo a seguir y en una persona que lo trate respetuosa y dignamente. Es por ello que aquí te dejamos las claves para una adopción responsable.</p>
					
				</div>
				<div id="adopta2">
					<img class="img__Animation img__Adopcion2" src="../img/adopcion-de-perros-XxXx80.jpg" alt="manoTocandoPataDePerro" border="2px" width="450px" height="200px">
					<p class="parrafo__Adopcion2 margenes">La mascota necesitará un período de adaptación para ir integrándose en el nuevo hogar y acostumbrándose a sus dueños. Un buen dueño se encargará de facilitarle ese proceso para que el perro deje atrás el miedo, las inseguridades o la falta de cariño que puedan tener tras haber sido abandonado y volver a estar contento y feliz.
					<br>
					Una adopción responsable implica deberes diarios con tu mascota que debes asumir durante toda su vida.</p>
					
					<p class="parrafo__Dos__Adopcion2 margenes">
					Para educarle correctamente necesitas paciencia e invertir tiempo en tu nuevo amigo. Conviene acostumbrarle a ciertas rutinas diarias como sacarle a la calle tres veces y a horas parecidas, o ponerle la comida en su cuenco en el mismo momento del día.
					<br>
					Hay que entender que nuestra mascota tiene necesidades que hay que cubrir. Hay que cuidar su alimentación, su higiene y mantener a raya vacunas y antipulgas. Además, debéis llevar juntos una vida vida activa, decicarle tiempo jugando con él y darle buenos paseos para que haga ejercicio. Aunque se le lleve atado por la ciudad es importante crear un ambiente libre para que el perro pueda correr y disfrutar por jardines o parques.
					<br>
					Además de divertirse, hay que enseñarle a estar tranquilo en casa cuando se quede solo. Si le das mimos a tu mascota te responderá con el mismo cariño.</p>
				</div>
				<div id="adiestra">
					<h2 class="titulo__Adiestra"><b>Adriestramiento</b></h2>
					 <img class="img__Adiestra" src="../img/ventajas_del_adiestramiento_canino-min.jpg" alt="mujerEnseñandoPerros" border="2px" width="270px" height="330px">
					<p class="parrafo__Adiestra margenes">Nos enfocamos en mejorar la comunicación y el vínculo de las familias con sus perros, quienes son parte de ellas, enriqueciendo así su calidad de vida.
					<br>
					Para esto, utilizamos técnicas y herramientas alineadas a la tenencia responsable, rechazando el maltrato animal, técnicas con aval científico sustentadas por nuestra experiencia, conocimientos y profesionalismo.
					<br>
					Entre los métodos utilizados por nuestro equipo se destacan el Adiestramiento Cognitivo-Emocional el Condicionamiento Operante, y el Condicionamiento Clásico.
					Respetamos que cada perro es único y requiere un abordaje como tal y una correcta educación en base al vínculo saludable.</p>
				</div>
				<div id="requisitos__Sanitarios">
					<h2><b>Requisitos Sanitarios para el ingreso de mascotas al predio</b></h2>
					<p class="margenes">En DogMar privilegiamos la salud de nuestros huéspedes. Por ello, le pedimos que cumpla con estos requisitos sanitarios antes de confiarnos su mascota. Buscamos mantener los más altos estándares de salud en nuestro predio, para evitar contagios de enfermedades. Muchas gracias por su cooperación. Es en beneficio de todos.</p>
					<div id="grilla__Requerimientos">
						<div id="perros">
							<h3><b>Perros</b></h3>
							<ol>
								<li class="margenes"><span class="vinetas__Medida">&#128054;</span>Vacunación completa (antirrábica y séxtuple anual).</li>
								<li class="margenes"><span class="vinetas__Medida">&#128054;</span>Traqueobronquitis infecciosa (vacuna opcional contra la Tos Seca).</li>
								<li class="margenes"><span class="vinetas__Medida">&#128054;</span>Libre de pulgas y garrapatas.</li>
								<li class="margenes"><span class="vinetas__Medida">&#128054;</span>Desparasitación interna</li>
							</ol>
						</div>
						<div id="gatos">
							<h3><b>Gatos</b></h3>
							<ol>
								<li class="margenes"><span class="vinetas__Medida">&#128049;</span>Vacuna antirrábica anual</li>
								<li class="margenes"><span class="vinetas__Medida">&#128049;</span>Triple felina anual</li>
								<li class="margenes"><span class="vinetas__Medida">&#128049;</span>Libre de pulgas y garrapatas</li>
								<li class="margenes"><span class="vinetas__Medida">&#128049;</span>Desparasitación interna</li>
							</ol>
						</div>
					</div>
				
				</div>
				<div id="importante">
					<h2 id="titulo__Importante"><b>Importante</b></h2>
					<img id="img__Importante" src="../img/fichero_19428_20170317-min.jpg" alt="hombresRevisandoPerro" border="2px" width="300px" height="350px" class="izquierda">
					<p id="parrafo__Importante" class="margenes">Si mascota no recibió la vacuna contra la Tos Seca, estará expuesto a contraer este virus; si lo contrajera durante su estadía en DogMar, deberá afrontar los gastos de tratamiento incurridos por nosotros para su tratamiento.La desparasitación interna deberá realizarse con la frecuencia que su veterinario le recomiende. Tenga en cuenta que, al estar su perro en contacto con otros, será necesario desparasitar con mayor frecuencia.</p>
					
					<p id="otro__Parra__foImportante" class="fondo__Distinto" class="margenes">Consulte a su médico veterinario de confianza para cumplimentarlos<b></b></p>
					<h3 id="otro__Titulo__Importante">GRACIAS POR SU COLABORACIÓN <br></h3>
				</div>
				
				<div id="menu">
					<h2 id="titulo__Menu"><b>Aspectos a conocer antes de hospedar a mi mascota</b></h2>
					<img id="img__Menu" src="../img/images6-min.jpg" alt="perroConCorrea" border="2px" width="320px" height="200px" class="izquierda">
					<h3 id="parrafo__Menu"><b>A la hora de hospedar a su perro o gato, es importante que usted conozca ciertos aspectos claves de nuestro servicio y de su mascota en particular. Nuestra intención es mantenerlo siempre informado.</b></h3>
				</div>
					<nav id="barra__Menu">
						<a href="#accesorios">Accesorios: (colchones-mantas-juguetes)</a>
						<a href="#pulgas">Pulgas y garrapatas, cómo evitarlas</a>
					
						<a href="#tosSeca">¿Qué es la Tos Seca o “Traqueobronquitis Infecciosa”?</a>
					
						<a href="#decaida">Mi mascota está algo decaída, la noto distinta</a>
					
						<a href="#flaco">Mi perro volvió más flaco</a>
					
						<a href="#raspon">Puede mi perro volver con algún raspón o alguna articulación marcadas</a>
					
						<a href="#parasitos">Mi mascota volvió con parásitos</a>
					
						<a href="#irritada">Mi mascota tiene una parte de su piel irritada (parche caliente)</a>
					
						<a href="#bichera">Bichera o Miasis</a>
					</nav>
				
				<div id="accesorios">
					
					<h3 class="margenes"><b>Accesorios: (colchones-mantas-juguetes)</b></h3>
					
					<p class="margenes">DogMar hospeda  a sus mascotas  brindándoles todos los accesorios necesarios durante su estadía para su bienestar (colchones, mantas, juguetes etc). Según nuestra experiencia tanto perros como gatos, pueden prescindir de sus  accesorios habituales, sin generarles esto una situación de stress adicional por sobre el hecho de cambiar de hábitat. El instinto de protección de sus pertenencias podría generar conflictos entre pares y queremos asegurarnos de evitarlos</p>
				</div>
				<nav>
					<a href="#menu" class="link__Derecha">Volver al menú</a>
				</nav>
				<div id="pulgas">
					
					<h3 class="margenes"><b>Pulgas y garrapatas, cómo evitarlas</b></h3>
					
					<p class="margenes">DogMar se encuentra libre de todo tipo de ectoparásitos ya que además de solicitar “Requisitos Sanitarios” para el ingreso de cualquier mascota, revisamos cada nuevo huésped. Tenemos estrictos controles sanitarios y en el caso de los perros, periódicamente realizamos baños sanitarios que previenen el contagio de las mismas. </p>
				</div>
				<nav>
					<a href="#menu" class="link__Derecha">Volver al menú</a>
				</nav>
				<div id="tosSeca">
					
					<h3 class="margenes"><b>¿Qué es la Tos Seca o “Traqueobronquitis Infecciosa”?</b></h3>
					
					<p class="margenes">La “Tos Seca” puede ser comparada con una gripe o resfrío. Es de origen viral y se contagia por contacto aerógeno. No es algo grave pero como en algunas épocas del año hay brotes de Tos, nosotros siempre sugerimos el ingreso de perros vacunados contra este virus. </p>
				
				<nav>
					<a href="#menu" class="link__Derecha">Volver al menú</a>
				</nav>
				</div>
				<div id="decaida">
					
					<h3 class="margenes"><b>Mi mascota está algo decaída, la noto distinta</b></h3>
					
					<p class="margenes">Cuando una mascota cambia de ambiente, puede pasar por un período de adaptación al nuevo lugar llamado “Estrés de cambio de ambiente”. Algunas pueden estar decaídas, comer menos de lo acostumbrado o bien pueden bajar sus defensas inmunológicas. En todos estos casos, procuramos que los nuevos huéspedes se sientan cómodos en el nuevo ambiente y que se adapten lo más rápido posible.
					<br>
					<br>
					En el caso de los perros, el hecho de que estén en libertad y en contacto con otros pares ayuda a que se adapten con mayor rapidez. Hay que tener en cuenta que los perros son animales muy rutinarios. Si el período de hospedaje es largo, puede suceder que su mascota también tenga que adaptarse al hecho de dejar nuestro predio y volver a su hogar. De una u otra forma, si nota que su perro está distinto, en pocos días volverá a comportarse como siempre. De no ser así, no dude en consultar con su veterinario.
					<br>
					<br>
					Los gatos son más susceptibles al stress por cambio de ambiente que los perros, ya que son más lentos en adaptarse a un nuevo ambiente. Para que logren una pronta adaptación, es conveniente que el sitio donde se hospede su gato tenga lugares pequeños con protección, de manera que puedan sentirse seguros al esconderse de lo desconocido. Nuestras gateras están especialmente ambientadas con casitas para que su gato pueda refugiarse. Las mismas están hechas a base de madera y tienen puerta y ventanas. Asimismo, las gateras tienen troncos para que su gato pueda jugar y divertirse cuando se adapte al lugar. Con esto nos aseguramos que su gato pase por el período de adaptación lo más rápido posible y que a la vez pueda divertirse.</p>
						
				<nav>
					<a href="#menu" class="link__Derecha">Volver al menú</a>
				</nav>
				</div>
				<div id="flaco">
					
					<h3 class="margenes"><b>Mi perro volvió más flaco</b></h3>
					
					<p class="margenes">Como en DogMar los perros están en libertad, corren y juegan en grupos homogéneos, algunos perros pueden bajar de peso por hacer más ejercicio físico que el que acostumbra a hacer en su casa. Esto es normal y en la mayoría de los casos esperable. Asimismo, un perro también puede disminuir su apetito por el hecho de tener que adaptarse a un nuevo lugar. Para poder controlar que la reducción no sea excesiva, contamos con una balanza que nos permite pesar a cada mascota que ingresa al predio. Repetimos esto cuando su mascota se va. Asimismo, si notamos que no se está alimentando bien, procuramos buscar formas alternativas para que coma el alimento que le damos, como por ejemplo, mezclar el mismo con caldo, o agregarle un poco de carne picada. En estos casos, también controlamos su peso con mayor frecuencia.</p>
				
				<nav>
					<a href="#menu" class="link__Derecha">Volver al menú</a>
				</nav>
				</div>
				<div id="raspon">
					
					<h3 class="margenes"><b>Puede mi perro volver con algún raspón o alguna articulación marcadas </b></h3>
					
					<p class="margenes">El servicio de hospedaje que ofrecemos es en libertad ya que consideramos que es la única forma de que los perros se diviertan y puedan disfrutar de su estadía con nosotros. En algunos casos, esto puede ocasionar algún raspón por el roce con el pasto, rama o con algún otro perro. Para su tranquilidad, tenemos personal capacitado que supervisa a los huéspedes de manera de minimizar cualquier incidente.</p>
				
				<nav>
					<a href="#menu" class="link__Derecha">Volver al menú</a>
				</nav>
				</div>
				<div id="parasitos">
					
					<h3 class="margenes"><b>Mi mascota volvió con parásitos </b></h3>
					
					<p class="margenes">Los perros y gatos normalmente conviven con una carga parasitológica que no manifiesta síntomas. El hecho de que su mascota cambie de ambiente, puede hacer que bajen sus defensas inmunológicas, lo cual puede provocar que los parásitos manifiesten en su perro sintomatologías tales como diarrea, pérdida de peso, lagañas, u otras. Para reducir esta posibilidad, solicitamos que todos los huéspedes sean desparasitados antes de ingresar al predio.</p>
				
				<nav>
					<a href="#menu" class="link__Derecha">Volver al menú</a>
				</nav>
				</div>
				<div id="irritada">
					
					<h3 class="margenes"><b>Mi mascota tiene una parte de su piel irritada (parche caliente)</b></h3>
					
					<p class="margenes">Los "parches calientes" son una irritación de la piel que puede ser ocasionada por alergia. Producen picazón, suelen aparecer repentinamente y son de rápido crecimiento. El calor y la humedad potencian las posibilidades de que se produzcan estas irritaciones. Si esto es detectado en su inicio, puede ser tratado para evitar su progreso. De persistir, el parche debe ser medicado. En DogMar estamos atentos a la posibilidad de inicio de “parches calientes” y sabemos como tratarlos.
					<br>
					<br>
					En el caso de los gatos, si bien la posibilidad existe, es algo remota ya que los gatos conviven en ambientes menos húmedos, donde no da tanto el sol y tienen pelo más corto.</p>
				
				<nav>
					<a href="#menu" class="link__Derecha">Volver al menú</a>
				</nav>
				</div>
				<div id="bichera">
					
					<h3 class="margenes"><b>Bichera o Miasis</b></h3>
					
					<p class="margenes">Ante cualquier raspón o herida, por más leve que sea, o ante la presencia de sangre, pus o cualquier secreción orgánica, hay ciertas moscas que pueden posarse y colocar huevos; esto rápidamente genera una “bichera” con el crecimiento de larvas. En nuestro predio cuidamos al máximo las condiciones sanitarias del lugar para bajar la posibilidad de que estas moscas estén presentes usando desinfectantes para este fin. De cualquier manera, es importante saber que al tratarse de un predio al aire libre, no es posible erradicarlas. Para su tranquilidad, nuestro personal está capacitado no sólo para disminuir la posibilidad de que su mascota tenga una bichera, sino también para detectarlas, en cuyo caso, su mascota recibirá la asistencia veterinaria correspondiente.</p>
				
				<nav>
					<a href="#menu" class="link__Derecha">Volver al menú</a>
				</nav>
				</div>
				
				<div id="informacion">
					<h2 id="titulo__Informacion"><b>Mas Información</b></h2>
					<img class="img__Animation" id="img__Informacion" src="../img/Captura-de-pantalla-2019-05-07-a-las-11.50.12.png" alt="selfieGrupoDePerros" border="2px" width="300px" height="215px" class="izquierda"> 
					<h3 id="parrafo__Informacion"><b>Si Ud. tiene que viajar, realizar una obra en su casa, remodelar su jardín, tiene una fiesta o si su perra está en celo, puede contar con nuestro servicio de hospedaje profesional para perros y gatos.</b></h3>
				</div>
					<h3 class="margenes"><b>Ventajas de este servicio:</b></h3>
					<ul>
						<li class="margenes"><span class="vinetas__Medida">&#128062;</span>Contamos con amplias subdivisiones en las que armamos grupos homogéneos, minimizando el riesgo de peleas.</li>
						<li class="margenes"><span class="vinetas__Medida">&#128062;</span>Alimentamos con la mejor marca Súper Premium del mercado.</li>
						<li class="margenes"><span class="vinetas__Medida">&#128062;</span>Garantizamos supervisión las 24 horas con personal capacitado.</li>
						<li class="margenes"><span class="vinetas__Medida">&#128062;</span>Ante cualquier urgencia, nos ocupamos de que su mascota reciba la asistencia veterinaria que necesita.</li>
						<li class="margenes"><span class="vinetas__Medida">&#128062;</span>Cuidamos la limpieza de nuestros huéspedes e instalaciones en forma permanente.</li>
						<li class="margenes"><span class="vinetas__Medida">&#128062;</span>Tenemos camionetas acondicionadas y personal capacitado para retirar y entregar a su perro o gato a domicilio.</li>
					</ul>
				
					<h3 class="margenes"><b>Visitenos y recorra nuestras instalaciones!</b></h3>
					<p class="margenes">Lo invitamos a conocer <b>DogMar</b> de lunes a domingo de 8 a 18 horas. Puede visitarnos en el momento que guste y sin previo aviso. Para nosotros es muy importante que UD. nos conozca personalmente y aprecie la forma en que trabajamos. </p>
				
				<nav>
					<p class="margenes">para obtener un mapa de acceso, clickee <a href="./contacto.html">aquí</a></p>
				</nav>
				<nav>
					<h3 class="margenes"><b>Precio y Horarios</b></h3>
					<p class="margenes">Para consultar los precios del servicio y los rangos horarios de retiro y devolución de su mascota, haga click <a href="./contacto.html#formulario2">aquí.</a> </p>
				</nav>
				<div id="menu2">
					<h3 id="titulo__Menu2"><b>Preguntas frecuentes</b></h3>
					<img id="img__Menu2" src="../img/1515169358524-min.jpg" alt="perrosCorriendoEnPredio" border="2px" width="750px" height="350px">
				</div>
					<nav id="barra__Menu2">
						<a href="#servicioHospedaje">¿En qué consiste su servicio de hospedaje?</a>
					
						<a href="#lugar">¿Cómo es el lugar donde hospedaré a mi mascota?</a>
					
						<a href="#cuidado">Quiero hospedar a mi perro y a mi gato en un lugar lindo y seguro para que disfrute su estadía, pero tengo temor de que el lugar no sea adecuado para el cuidado de mascotas...</a>
					
						<a href="#dormis">¿Cómo duermen los perros?</a>
					
						<a href="#comida">¿Qué les dan de comer? </a>
					
						<a href="#lluvia">¿Qué pasa cuando llueve?</a>
					
						<a href="#asistenciaEmergncia">¿Tienen asistencia veterinaria en caso de emergencias? </a>
					
						<a href="#supervision">¿Cuentan con algún tipo de supervisión para que mi mascota esté cuidada? </a>
					
						<a href="#visitar">¿Puedo ir a visitarlos para ver en qué condiciones tienen el lugar?</a>
					</nav>
				
				<div id="servicioHospedaje">
					
					<h3 class="margenes"><b>¿En qué consiste su servicio de hospedaje?</b></h3>
					
					<p class="margenes">En DogMar tenemos un servicio profesional de hospedaje para perros y gatos, brindado por personas que entienden y quieren a los animales. Los perros están en completa libertad para que se sientan tan cómodos como en casa, pudiendo disfrutar con pares de nuestro predio, recibiendo el cuidado profesional que se merecen. Por otro lado, contamos con amplias gateras especialmente ambientadas con troncos y casas para albergar a estos pequeños huéspedes.</p>
					<nav>
						<a href="#menu2" class="link__Derecha">Volver al menú</a>
					</nav>
				
				</div>
			
				
				<div id="lugar">
					
					<h3 class="margenes"><b>¿Cómo es el lugar donde hospedaré a mi mascota?</b></h3>
					
					<p class="margenes">Nuestro predio se encuentra ubicado en Pilar. Tiene una superficie de 6000 m2 y está preparado tanto para días calurosos, como para los días lluviosos. Contamos con una gran arboleda y una pileta de poca profundidad para los días calurosos, como así también zonas techadas para los días lluviosos. Por otro lado, tenemos amplias gateras especialmente ambientadas con troncos y casas para que su gato disfrute al máximo de su estadía.
					<br>
					<br>
					En DogMar, contamos con supervisión permanente a cargo de personal entrenado y ante cualquier urgencia, nos ocupamos de que su mascota reciba la asistencia veterinaria que necesita.</p>
					<nav>
						<a href="#menu2" class="link__Derecha">Volver al menú</a>
					</nav>
				</div>
				<div id="cuidado">
					
					<h3 class="margenes"><b>Quiero hospedar a mi perro y a mi gato en un lugar lindo y seguro para que disfrute su estadía, pero tengo temor de que el lugar no sea adecuado para el cuidado de mascotas...</b></h3>
					
					<p class="margenes">Nuestra gran diferencia es que tenemos como prioridad principal a que su perro o gato pase una estadía segura y también feliz. Por eso, durante el día los perros están en completa libertad y por la noche duermen en espacios confortables, amplios y limpios. Y los gatos disfrutan de un amplio sector cerrado y apartado de los perros, especialmente ambientado.
					<br>
					<br>
					Nuestras instalaciones tienen una superficie de 6000 m2 compuesta por amplias subdivisiones comunicables entre sí, que nos permiten formar grupos homogéneos de perros, minimizando el riesgo de peleas. </p>
					<nav>
						<a href="#menu2" class="link__Derecha">Volver al menú</a>
					</nav>
					
				</div>
				<div id="dormis">
					
					<h3 class="margenes"><b>¿Cómo duermen los perros?</b></h3>
					
					<p class="margenes">Su perro dormirá tan cómodo como en casa. Las zonas donde duermen son techadas y contienen mantas para que su mascota duerma confortablemente y sin riesgos de raspaduras. </p>
					<nav>
						<a href="#menu2" class="link__Derecha">Volver al menú</a>
					</nav>
					
				</div>
				<div id="comida">
					
					<h3 class="margenes"><b>¿Qué les dan de comer? </b></h3>
					
					<p class="margenes">Todos nuestros huéspedes son cuidados como en casa. Los alimentamos con la mejor marca Súper Premium del mercado.</p>
					<nav>
						<a href="#menu2" class="link__Derecha">Volver al menú</a>
					</nav>
					
				</div>
				<div id="lluvia">
					
					<h3 class="margenes"><b> ¿Qué pasa cuando llueve? </b></h3>
					
					<p class="margenes">Estamos preparados para afrontar los días lluviosos. Contamos con zonas techadas para resguardar a nuestros huéspedes. </p>
					<nav>
						<a href="#menu2" class="link__Derecha">Volver al menú</a>
					</nav>
					
				</div>
				<div id="asistenciaEmergncia">
					
					<h3 class="margenes"><b>¿Tienen asistencia veterinaria en caso de emergencias? </b></h3>
					
					<p class="margenes">En DogMar le damos una gran importancia a la salud de todos nuestros huéspedes, por lo que disponemos de supervisión en forma permanente y ante cualquier urgencia, nos ocupamos de que su mascota reciba la asistencia veterinaria que necesite</p>
					<nav>
						<a href="#menu2" class="link__Derecha">Volver al menú</a>
					</nav>
					
				</div>
				<div id="supervision">
				
					<h3 class="margenes"><b> ¿Cuentan con algún tipo de supervisión para que mi mascota esté cuidada? </b></h3>
					
					<p class="margenes">Su mascota estará en buenas manos. Estamos en esta actividad desde 2016 y contamos con personal capacitado que supervisa las 24 hs. Conocemos y aplicamos todos los mejores cuidados para minimizar los riesgos de peleas o incidentes. </p>
					<nav>
						<a href="#menu2" class="link__Derecha">Volver al menú</a>
					</nav>
					
				</div>
				<div id="visitar">
					
					<h3 class="margenes"><b> ¿Puedo ir a visitarlos para ver en qué condiciones tienen el lugar?</b></h3>
					
					<p class="margenes">Por supuesto, será bienvenido de lunes a domingo de 8 a 18 horas. Puede visitarnos en el momento que guste y sin previo aviso. Para nosotros es muy importante que Ud. nos conozca personalmente y aprecie la forma en que trabajamos. Para obtener un mapa de acceso, clickee <a href="./contacto.html">aquí</a></p>
					<nav>
						<a href="#menu2" class="link__Derecha">Volver al menú</a>
					</nav>
					
				</div>
			</div>
		
		</main>

		<footer class="footer">
			<div id="pie">
				<ul class="nav">
					<li><a href="../index.html"><b>Inicio</b></a>
						<ul>
							<li><a href="#alojamiento">Hospedaje</a></li>
							<li><a href="#refugio">Refugio</a></li>
							<li><a href="#adopta">Adopción Reponsable</a></li>
							<li><a href="./contacto.html#formulario">Calificanos</a></li>
							<li><a href="#adiestra">Adistramiento</a></li>
						</ul>
					</li>
					<li><a href="./quienesomos.html"><b>Quienes Somos</b></a>
						<ul>
							<li><a href="./quienesomos.html#historia">Historia</a></li>
							<li><a href="./quienesomos.html#queOfrecemos">Que Ofrecemos</a></li>
							<li><a href="./quienesomos.html#valores">Nuestros Valores</a></li>
							<li><a href="./quienesomos.html#staff">Staff</a></li>
							<li><a href="./quienesomos.html#capacitaciones">Estudios y Capacitaciones</a></li>
						</ul>
					</li>
					<li><a href="./views/servicios.html"><b>Servicios</b></a>
							<ul>
								<li><a href="#alojamiento">Hospedaje</a></li>
								<li><a href="#refugio">Refugio</a></li>
								<li><a href="#adopta">Adopción Responsable</a></li>
								<li><a href="#adiestra">Adiestramieto Canino</a></li>
								<li><a href="#requisitosSanitarios">Requisitos Sanitarios</a></li>
								<li><a href="#menu">Conocer antes de hospedar</a></li>
								<li><a href="#informacion">Información</a></li>
								<li><a href="#menu2">Preguntas Frecuentes</a></li>
								<li><a href="./contacto.html#formulario">Consultar Precio</a></li>
							</ul>
						</li>
						<li><a href="./galeria.html"><b>Galeria</b></a>
						<ul>
							<li><a href="./galeria.html#predio">Predio</a></li>
							<li><a href="./galeria.html#hotel">Hotel</a></li>
							<li><a href="./galeria.html#guarderia">Guardería</a></li>
							<li><a href="./galeria.html#adopcionesFeliz">Mascotas al ser Adoptadas</a></li>
						</ul>
						</li>
						<li><a href="./contacto.html"><b>Contacto</b></a>
							<ul>
								<li><a href="./contacto.html">Ubicación</a></li>
								<li><em><b>Celular: </b> 11 9999-9999</em></li>
								<li><em><b>Mail: </b>canderichiardi@gmail.com</em></li>
								<li><em><b>Dirección: </b>Dirección 9999</em></li>
					</ul>
				</ul>
			
		</div>
		<div>
			<a href="https://www.instagram.com/dogmar4/">
				<img src="../img/pngtree-instagram-color-icon-png-image_3995406-min.jpg" alt="instagram" width="50px" height="50px">
			</a>
			</div>			
		</footer>
	
	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>

